#root {
   max-width: 1600px;  
  text-align: center;

}



.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 10px;
}

.read-the-docs {
  color: #888;
}

body {
  /* background-image:url(https://img.freepik.com/free-photo/microphone-with-headphones-copy-space_23-2148681150.jpg?w=996&t=st=1691138889~exp=1691139489~hmac=c89ce014f9fcdba824cd00153cc4063aaa4946bd4f8664917929f6c3a6fd605c); */
  display: flex; 
  align-items: center;
  justify-content: center;
  overflow-x: hidden;

  
  font-family: 'Urbanist', sans-serif;
  text-decoration-color: aliceblue;

}
p{
  width: 100%;
}


 img{
  width: 200px;
  height: 5%;
  display: flex; 
  transform-style: preserve-3d; 
  justify-content: center;
  align-items: center;
  flex-direction: column;
} 



a{

  text-decoration: none;
}



/* .topName{

} */




.cards {

    position: relative;
    height: 250px;
    width: 430px;
    margin-bottom: 20px;
    perspective: 1000px;
    transform-style: preserve-3d;

}

.cards label {

    position: absolute;
    width: 40px;
    left: 0;
    right: 0;
    margin: auto;
    cursor: pointer;
    transition: transform 0.55s ease;
}
/* .search-sort-container {
  display: inline;
} */
li {
    display: flex;
    flex-direction: end;
    justify-content: space-between;
   
    height: 100%;
    background-color: transparent;
    border-radius: 10px;
    padding: 30px 35px;
}

.card .image{

    display: flex;
    justify-content: space-between;
}

.image-lay{

    border-radius: 5px;
    box-shadow: 15px 15px 5px rgba(0, 0, 0, 0.5);
    margin-top: 23px;
    width: 250px;
    height: 250px;
    object-fit: cover;
}
.image-lay img{
  height: 250px;
  width: 250px;
}
.card .image .dots{

    text-align: center;
}

.dots div{

    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.dots div:nth-child(1){

    background-color: var(--current-color1);
}

.dots div:nth-child(2){

    background-color: #9bb0e8;
}

.dots div:nth-child(3){

    background-color: #1e1212;
}

.cards {

    display: flex;
    flex-direction: column;
    text-align: end;
    padding-top: 20px;
    gap: 80px;
}

.card {

  display: flex;
  text-align: end;
  padding-top: 20px;
  gap: 80px;
}

.infos span{

    display: block;
}

.infos .name{

    font-size: 25px;
    color: var(--current-color1);
    letter-spacing: 8px;
    margin-bottom: 20px;
    padding-left: 25%;
    transition: all .6s ease;
}

.infos .pop{

    font-size: 15.5px;
    color: #858385;
    letter-spacing: 3px;
}

.card .btn-contact{

    width: 100%;
    height: 60px;
    margin: 35px auto;
    border-radius: 5px;
    background-color: var(--current-color1);
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 25px;
    letter-spacing: 10px;
    font-weight: 700;
    transition: all .7s ease;
}

/* .card .socials{ */

    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* padding-top: 20px; */
/* } */

.socials i{

    font-size: px;
    transition: all .7s ease;
    color: var(--current-color2);
}

.login{
  margin-top: 180px;

  width: 430px;
  height: 410px;
  background: ; border: 2px solid rgb(8, 1, 70);
  border-radius: 20px;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 30px rgb(1, 17, 117);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  overflow: hidden;

  transition: transform .5s ease, height .2s ease;
}

.login input{
  width: 200px;
  height: 40px;
  background-color: #000;
  border: none;
  border-bottom:3px double ;
}
.Fav-grid{
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 40px;
}
.fav-card{
  width: 100%;
  padding: 10px;
  background: transparent;
  box-sizing: border-box;
  border-radius: 6px;
  position: relative;
}

li .card{
  padding-bottom: 60px;
}

.logoimg{
  width: 100px;
  border-radius: 50px;
}

.tlhogo {
  display: flex;
  flex-direction: row;
  gap: 70px;
  align-items: center;
  padding: 20px;
}

.look{
display: flex;
flex-direction: column;
}

.rati2{
  display: grid;
  grid-template-columns: 0.7fr 0.7fr 0.7fr;
  background-image: url(./image/back.png);
  background-repeat: no-repeat;
  background-size: cover;
  align-items: center;
  justify-content: center;
  
}

.rati2 p{
  color: #ffffff;
}

.containeer li{
  background-color: #858385;
}